@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

img {
  max-width: 100%;
  height: auto;
}

* {
  font-family: "Space Mono", monospace;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 2.2vw 4vw;
}

.page-section {
  min-height: 100vh;
}

.header {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.header-title-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
}

.header-img-logo-wrapper {
  width: 50px;
  height: 50px;
  margin-right: 36px;
  position: relative;
}

.header-img-logo {
  width: 50px;
  height: 50px;
  position: absolute;
  animation: fade-in-button 1s forwards;
}

.header-nav {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: max-content;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  animation: fade-in-nav 1s;
  position: absolute;
  top: 10px;
  left: 100px;
}

.header-nav-title-lab {
  height: 14px;
  font-weight: 400;
  padding: 1.6px;
  font-size: 16px;
  color: #000000;
  padding: 0.1em 0;
  margin-right: 9px;
  border-bottom: 0.9px solid #000;
  margin-bottom: 1px;
  text-decoration: none;
}

.header-nav-title {
  font-family: "Space Mono";
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  padding: 1.6px;
  margin-right: 9px;
  margin-left: 6px;
  text-decoration: none;
}

.actions-container {
  width: fit-content;
  height: 28px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon-container {
  height: fit-content;
}

.social-icon-container,
a {
  line-height: 0;
  padding: 0;
  margin: 0;
}

.social-icon-container-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.social-icon-container-menu,
a {
  line-height: 0;
  padding: 0;
  margin: 0;
}

.menu-button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-button-container button {
  margin: 80px 0 0 0;
  width: 210px;
  height: 42px;
  font-size: 19.2px;
}

.login-button {
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  border: 2px solid black;
  background-color: white;

  border-radius: 6px;
  margin-left: 42px;
  padding: 18px;

  font-size: 1em;

  cursor: pointer;

  transition: background-color 0.1s linear, color 0.1s linear;
  animation: fade-in-button 1s forwards;
}

.login-button:hover {
  background-color: black;

  color: white;
}

.social-icon {
  width: 32px;
  height: 32px;
  margin-left: 8px;
}

.placeholder {
  height: 100vh;
}

.header-nav-menu {
  font-family: "Space Mono";
  font-weight: 400;
  font-size: 6.5vw;
  line-height: inherit;
  color: #000000;
  padding: 1.6px;
  margin-right: 9px;
  margin-left: 6px;
  text-decoration: none;
}

.container {
  width: calc(100% - 6vw);
  height: calc(100vh - 7vw - 50px);
  margin-bottom: 3vw;
  margin-left: 3vw;
  margin-right: 3vw;
  overflow: hidden;
  position: relative;
}

.nav-menu {
  height: 74%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img {
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.85);
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  animation: fade-in 1s forwards;
  padding: 6vw;
}

.search-container {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 12px;
  background-color: #ffffff;
}

.search-header {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-text-title {
  font-family: "Space Mono";
  font-size: 32px;
  color: #000000;
  min-width: 300px;
  text-align: center;
}

.search-text-content {
  font-family: "Space Mono";
  flex-wrap: wrap;
  font-size: 20px;
  color: #000000;
  min-width: 300px;
  text-align: center;
}

.search-input {
  border: 2px solid black;
  border-radius: 6px;
  width: 40%;
  min-width: 200px;
  max-width: 350px;
  min-height: 40px;
  text-align: center;
  padding: 0;
  margin: 15px 0;
}

.search-span {
  display: none;
  color: red;
  font-size: 16px;
}

/* Div search-await-results */
.search-await-results {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.films {
  flex-flow: row wrap;
  overflow-y: auto;
}

.search-await-result-img {
  width: 150px;
  margin: 10px;
}

.search-text-await-result {
  font-family: "Space Mono";
  flex-wrap: wrap;
  font-size: 18px;
  color: #000000;
  text-align: center;
}

.content-text {
  font-family: "Space Mono";
  font-weight: 700;
  font-size: calc(1.8 * 1.2vw + 1rem);
  line-height: 59px;
  color: #ffffff;
  overflow-wrap: break-word;
  text-align: center;
}

.burger-toggle {
  display: none;
  background-color: transparent;
  border: none;
  padding: 0;
}

.container-menu {
  width: 100%;
  height: 100%;
  display: none;
  z-index: 2;
  position: absolute;

  opacity: 0;
  background-color: white;

  animation: fade-in-menu 0.5s ease forwards;
}

@media screen and (max-width: 810px) {
  .header {
    height: 18vw;
    padding: 4vw 6vw;
  }

  .header-nav,
  .actions-container {
    display: none;
  }

  .header-img-logo-wrapper {
    width: 2em;
    height: 2em;
    position: relative;
  }

  .header-img-logo {
    width: 2em;
    height: 2em;
    position: absolute;
  }

  .content-text {
    font-size: 1.6em;
    line-height: 1.6em;
  }

  .container {
    height: calc(100vh - 10vw - 32px);
    position: relative;
  }

  .img {
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .burger-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 35px;
    height: fit-content;
    cursor: pointer;
    position: relative;
  }

  .line-space {
    height: 8px;
    display: none;
    transition: all 1s ease;
  }

  .first-line-menu {
    width: 100%;
    height: 2px;
    background-color: rgb(121, 119, 119);
    transition: all 0.3s ease;
  }

  .second-line-menu {
    width: 100%;
    height: 2px;
    background-color: rgb(121, 119, 119);
    transition: all 0.3s ease;
  }
}

.line-rotation-clockwise {
  transform: rotate(45deg);
}

.line-rotation-anticlockwise {
  transform: rotate(-45deg);
}

.visible {
  display: block;
}

.social-icon-container-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.social-icon-container-menu img {
  margin: 8px;
  width: 24px;
  height: 24px;
}

.mensagem-sucesso-container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.modal-container,
.modal-cadastro-container,
.modal-sucesso-cadastro-container {
  width: 100vw;
  height: 100vh;
  background-color: #00000070;
  position: absolute;
  top: 0;

  display: none;
  justify-content: center;
  align-items: center;

  animation: fade-in-simple 0.3s ease;
  transition: all 0.5s ease-in;

  overflow: hidden;

  z-index: 22;
}

.modal-content,
.modal-cadastro-content {
  width: 350px;
  background-color: #ffffff;
}

.modal-header,
.modal-cadastro-header {
  width: 100%;
  height: 92px;

  background-color: #000;
  position: relative;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-title,
.modal-cadastro-title {
  width: 290px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;

  color: #ffffff;
}

.input-login,
.input-cadastro {
  display: flex;
  flex-direction: column;
  padding: 32px;
  position: relative;

  font-family: "Space mono";
  font-size: 1;

  width: 100%;
  height: calc(100% - 92px);
}

.modal-close-button,
.modal-cadastro-close-button,
.modal-sucesso-cadastro-close-button {
  position: absolute;

  right: 0;
  top: 0;
  padding-right: 12px;

  background-color: transparent;
  border: none;

  color: #ffffff;
  font-family: "Space Mono";

  cursor: pointer;
  font-size: large;
}

.modal-button,
.signup-button,
.modal-cadastro-button {
  width: 100%;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid black;
  background-color: white;

  border-radius: 6px;
  padding: 18px;

  font-size: 1em;

  cursor: pointer;

  transition: background-color 0.1s linear, color 0.1s linear;
  animation: fade-in-button 1s forwards;
  margin-top: 32px;
}

.modal-button:hover,
.signup-button:hover,
.modal-cadastro-button:hover {
  background-color: black;

  color: white;
}

.modal-button:active,
.signup-button:active,
.modal-cadastro-button:active {
  background-color: #00000080;
}
.login-email,
.login-password,
.login-confirm-password,
.cadastro-email,
.cadastro-password,
.cadastro-confirm-password {
  border: 2px solid black;
  border-radius: 6px;
  width: 100%;
  min-height: 40px;
  margin-bottom: 20px;
  padding: 0 12px;
  transition: all 0.5s ease-in;
}

.login-error-message,
.cadastro-error-message {
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: red;
  transition: all 0.5s ease-in;
}

.input-error {
  border: 2px solid red;
}

.card-container {
  width: 415px;
  min-width: 300px;
  height: 600px;

  background-color: #000;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 32px;
  overflow: hidden;
}

.card-content-wrapper {
  width: 415px;
  min-width: 300px;
  height: 600px;

  background-color: #000;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 32px;

  position: relative;
}

.card-title-english {
  font-family: "Space Mono";
  font-size: 28px;
  text-align: center;
  font-weight: 300;

  color: #ffffff;
}

.card-divisor {
  width: 45px;
  height: 2px;
  background-color: #ffffff;
  margin: 16px 0;
}

.card-title-japanese {
  font-family: "Space Mono";
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.445em;

  color: #ffffff;

  color: #ffffff;
}

.card-title-japanese-romanji {
  font-family: Space Mono;
  font-style: normal;
  font-weight: lighter;
  font-size: 14px;
  line-height: 21px;
  text-align: center;

  color: #ffffff;
}

.card-film-release-date {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;

  color: #ffffff;
}

.card-film-description {
  width: 375px;

  font-family: Space Mono;
  font-style: normal;
  font-size: 13px;
  line-height: 19px;
  text-align: center;

  color: #ffffff;

  margin: 16px 0;
}

.card-film-label {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  text-align: center;

  color: #ffffff;
}

.card-film-director {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  text-align: center;

  color: #ffffff;
}

.card-film-poster {
  width: 415px;
  min-width: 300px;
  height: 600px;

  position: absolute;
  object-fit: cover;
  object-position: 0 90%;

  border-radius: 8px;

  transition: all 0.5s;
  animation: breathing 5s infinite ease-in-out;

  overflow: hidden;
  filter: blur(0.3px);
}

.card-film-poster:hover {
  opacity: 0.15;
  filter: blur(5px);
}

@keyframes breathing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in-menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-button {
  from {
    opacity: 0;
    top: 50%;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes fade-in-nav {
  from {
    opacity: 0;
    top: 50%;
  }
  to {
    opacity: 1;
    top: 10px;
  }
}

@keyframes fade-in-simple {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    top: 10%;
  }
  to {
    opacity: 1;
    top: 0%;
  }
}

@keyframes fade-in-logo {
  from {
    opacity: 0;
    top: 60%;
  }
  to {
    opacity: 1;
    top: 50%;
  }
}
